[Unit]
Description=TeleIRC: Telegram + IRC bridge bot
Requires=network.target
After=network.target

[Service]
Type=simple
User=teleirc
WorkingDirectory=/usr/lib64/teleirc
ExecStart=/usr/bin/node teleirc.js
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
