# ---------------------------------- Docker ------------------------------------

# Example Dockerfiles exist in `build/`. Copy the base image of your choice
# to the project root directory as `Dockerfile`. Choose which image suits your
# needs or preferences.
Dockerfile

# ----------------------------- Python ------------------------------

# Sphinx docs output
docs/_build

# Allow teleirc's lib, which would otherwise be ignored from the python Virtualenv
# ignores above
!/lib/

# ----------------------------------- Miscellaneous -------------------------------------

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# IDE metadata
.vscode

# Running config file! Don't commit this unless you know what you're doing.
.env
