---
os: linux
dist: bionic
jobs:
  include:
    - language: go
      go: 1.13.x
      before_install: "curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin $GOLANGCI_LINT_VERSION"
      script: "golangci-lint run"

    - language: go
      go: master
      before_install: "curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin $GOLANGCI_LINT_VERSION"
      script: "golangci-lint run"

    - language: python
      python: 3.7
      cache: pip
      before_install: cd docs/
      install: "pip install $(pipenv lock --requirements)"
      script: sh build_docs.sh

env:
  global:
    - GO111MODULE: "on"
    - GOLANGCI_LINT_VERSION: "v1.23.8"

notifications:
  irc:
    channels:
      - "ircs://chat.freenode.net:6697/#rit-lug-teleirc"
    template:
      - "[%{repository_name}:%{branch}@%{commit} - build #%{build_number}] CI %{result}! (%{build_url})"
    on_success: change
    on_failure: always
