let settings = {
    token: "000000000:AAAAAAaAAa2AaAAaoAAAA-a_aaAAaAaaaAA",
    ircBlacklist: [
        "CowSayBot"
    ],
    irc: {
        server: "irc.freenode.net",
        channel: "#channel",
        botName: "teleirc",
        sendStickerEmoji: true,
        prefix: "<",
        suffix: ">",
        showJoinMessage: true,
        showLeaveMessage: true
    },
    tg: {
        chatId: "-0000000000000",
        showJoinMessage: false,
        showActionMessage: true,
        showLeaveMessage: false,
        showKickMessage: false,
        maxMessagesPerMinute: 20
    }
}


module.exports = settings;
