# See the Config File Glossary for instructions.
# https://docs.teleirc.com/en/latest/config-file-glossary/

###############################################################################
#                                                                             #
#                       IRC configuration settings                            #
#                                                                             #
###############################################################################

IRC_BLACKLIST=""
IRC_BOT_NAME=teleirc
IRC_CHANNEL="#channel"
IRC_CHANNEL_KEY=""
IRC_SEND_STICKER_EMOJI=true
IRC_SEND_DOCUMENT=false
IRC_PREFIX="<"
IRC_SUFFIX=">"
IRC_SERVER=chat.freenode.net
IRC_SERVER_PASSWORD=""
IRC_PORT=6697
IRC_USE_SSL=true
IRC_CERT_ALLOW_SELFSIGNED=false
IRC_CERT_ALLOW_EXPIRED=false
IRC_NICKSERV_SERVICE=NickServ
IRC_NICKSERV_PASS=""
IRC_EDITED_PREFIX="[EDIT] "
IRC_MAX_MESSAGE_LENGTH=400
IRC_SHOW_ZWSP=true
IRC_NO_FORWARD_PREFIX=""


###############################################################################
#                                                                             #
#                     Telegram configuration settings                         #
#                                                                             #
###############################################################################

TELEGRAM_CHAT_ID=-0000000000000
TELEIRC_TOKEN=000000000:AAAAAAaAAa2AaAAaoAAAA-a_aaAAaAaaaAA
MAX_MESSAGES_PER_MINUTE=20
SHOW_ACTION_MESSAGE=true
SHOW_JOIN_MESSAGE=false
SHOW_KICK_MESSAGE=true
SHOW_LEAVE_MESSAGE=false


################################################################################
#                                                                             #
#                      Imgur configuration settings                           #
#                                                                             #
###############################################################################

USE_IMGUR_FOR_IMAGES=true
IMGUR_CLIENT_ID=7d6b00b87043f58
