# See the README for instructions.

###############################################################################
#                                                                             #
#                       IRC configuration settings                            #
#                                                                             #
###############################################################################

IRC_BLACKLIST=""
IRC_BOT_NAME=teleirc
IRC_CHANNEL=#channel
IRC_SEND_STICKER_EMOJI=true
IRC_PREFIX="<"
IRC_SUFFIX=">"
IRC_SERVER=chat.freenode.net
IRC_NICKSERV_SERVICE=NickServ
IRC_NICKSERV_PASS=""
IRC_EDITED_PREFIX="[EDIT] "


###############################################################################
#                                                                             #
#                     Telegram configuration settings                         #
#                                                                             #
###############################################################################

TELEIRC_TOKEN=000000000:AAAAAAaAAa2AaAAaoAAAA-a_aaAAaAaaaAA
MAX_MESSAGES_PER_MINUTE=20
SHOW_ACTION_MESSAGE=true
SHOW_JOIN_MESSAGE=false
SHOW_KICK_MESSAGE=true
SHOW_LEAVE_MESSAGE=false
TELEGRAM_CHAT_ID=-0000000000000


################################################################################
#                                                                             #
#                      Imgur configuration settings                           #
#                                                                             #
###############################################################################

USE_IMGUR_FOR_IMAGES=false
IMGUR_CLIENT_ID=0000000000


###############################################################################
#                                                                             #
#                      Misc. required env variables                           #
#                -- not meant for user config, don't touch --                 #
#                                                                             #
###############################################################################

# https://github.com/yagop/node-telegram-bot-api/issues/319#issuecomment-324963294
NTBA_FIX_319=1
