# -*- mode: yaml-*-
# vim: ft=yaml

version: '3'

services:
  teleirc:
    build:
      context: ../../
      dockerfile: ./deployments/container/Dockerfile
    env_file: ../../.env
    user: teleirc
