# -*- mode: yaml-*-
# vim: ft=yaml

version: '3'

services:
  teleirc:
    build:
      context: https://github.com/RITlug/teleirc.git
      dockerfile: deployments/container/Dockerfile
    user: teleirc
