[Unit]
Description=TeleIRC: Telegram + IRC bridge bot
Requires=network.target
After=multi-user.target

[Service]
Type=simple
User=teleirc
ExecStart=/usr/local/bin/teleirc -conf /etc/teleirc/env
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
