name: Build and Test TeleIRC

on: [push]

# Cancel job in favor of newer commit
concurrency:
  group: go-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.25' ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Build TeleIRC
      run: ./build_binary.sh

    - name: Test
      run: go test -v ./...
